  body {
    background-color:darkgrey;
  }
  
  .wrapper {
    margin: auto;
    max-width: 140vh;
  }

  .slider {
    display: flex;
  }
  
  .slide {
    max-width: 0;
    width: 100%;
    opacity: 0;
    transition: max-width 0s ease-in 0.5s, opacity 0.5s;
  }
  
  .slide img {
    width: 100%;
  }
  
  #radio_1:checked ~ .slider .slide_1, 
  #radio_2:checked ~ .slider .slide_2, 
  #radio_3:checked ~ .slider .slide_3, 
  #radio_4:checked ~ .slider .slide_4 {
    max-width: 100%;
    opacity: 1;
    transition: max-width 0s ease-in 0.5s, opacity 0.5s ease-in 0.5s;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 320px) {
    .container {
      flex-direction:column-reverse;
    }
  }

  .description {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: auto;
    font-size: 0;
    color: darkgrey;
    order: 1;
  }
  
  #radio_1:checked ~ .container .description_1, 
  #radio_2:checked ~ .container .description_2, 
  #radio_3:checked ~ .container .description_3, 
  #radio_4:checked ~ .container .description_4 {
    color: white;
    font-size: 1rem;
    transition: font-size 1s;
  }
  
  .labels {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  
  .label {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label:hover {
    cursor: pointer;
  }

  .dot {
    height: 1rem;
    width: 1rem;
    background-color: navy;
    border-radius: 50%;
  }

  .label:hover .dot {
    background-color: white;
  }
  
  #radio_1:checked ~ .container .label[for="radio_1"] .dot, 
  #radio_2:checked ~ .container .label[for="radio_2"] .dot, 
  #radio_3:checked ~ .container .label[for="radio_3"] .dot, 
  #radio_4:checked ~ .container .label[for="radio_4"] .dot {
    box-sizing: border-box;
    background-color: darkgrey;
    border: 0.2rem solid navy;
  }
  
  #radio_1:checked ~ .container .label[for="radio_1"]:hover .dot, 
  #radio_2:checked ~ .container .label[for="radio_2"]:hover .dot, 
  #radio_3:checked ~ .container .label[for="radio_3"]:hover .dot, 
  #radio_4:checked ~ .container .label[for="radio_4"]:hover .dot {
    background-color: darkgrey;
    border: 0.2rem solid white;
  }
