* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: gray;
  }
  
  .container {
    max-width: 50rem;
    margin: 0 auto;
  }
  
  .radio {
    appearance: none;
  }
  
  .slider {
    display: flex;
  }
  
  .slide {
    width: 100%;
    max-width: 0;
    opacity: 0;
    transition: max-width 0s linear 0.5s, opacity 0.5s ease-out 0s;
  }
  
  .slide img {
    width: 100%;
  }
  
  #radio_1:checked ~ .slider .slide_1, 
  #radio_2:checked ~ .slider .slide_2, 
  #radio_3:checked ~ .slider .slide_3, 
  #radio_4:checked ~ .slider .slide_4 {
    max-width: 100%;
    opacity: 1;
    transition: max-width 0s linear 0.5s, opacity 0.5s ease-in 0.5s;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
  }

  .description {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: auto;
    font-size: 0;
    order: 1;
    width: 100%;
  }
  
  #radio_1:checked ~ .wrapper .description_1, 
  #radio_2:checked ~ .wrapper .description_2, 
  #radio_3:checked ~ .wrapper .description_3, 
  #radio_4:checked ~ .wrapper .description_4 {
    order: 1;
    width: 100%;
    transform: translate(0);
    color: #fff;
    font-size: 1rem;
    justify-items: center;
    transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
  }
  
  .labels {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }
  
  .label {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .dot {
    height: 1rem;
    width: 1rem;
    background-color: blue;
    border-radius: 50%;
  }

  .label:hover {
    cursor: pointer;
  }

  .label:hover .dot {
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #radio_1:checked ~ .wrapper .label[for="radio_1"] .dot, 
  #radio_2:checked ~ .wrapper .label[for="radio_2"] .dot, 
  #radio_3:checked ~ .wrapper .label[for="radio_3"] .dot, 
  #radio_4:checked ~ .wrapper .label[for="radio_4"] .dot {
    height: 1rem;
    width: 1rem;
    background-color: gray;
    border-radius: 50%;
    border: 0.2rem solid blue;
  }
  
  #radio_1:checked ~ .wrapper .label[for="radio_1"]:hover .dot, 
  #radio_2:checked ~ .wrapper .label[for="radio_2"]:hover .dot, 
  #radio_3:checked ~ .wrapper .label[for="radio_3"]:hover .dot, 
  #radio_4:checked ~ .wrapper .label[for="radio_4"]:hover .dot {
    height: 1rem;
    width: 1rem;
    background-color: gray;
    border-radius: 50%;
    border: 0.2rem solid white;
  }

  @media (max-width: 320px) {
    .wrapper {
      flex-direction: column;
    }
    .labels {
      order: 1;
    }
    .description {
      order: 2;
    }
  }
  